<div id="wrap" class="container">

  <div class="row">

    <div class="col-lg-12">
      <h2 class="page-header">Game Menu</h2>
    </div>

  </div>
  <h3>Join Existing Game</h3>
  <form name="joinForm" novalidate>
    <fieldset class="form-group">
      <label for="gameSelect">Existing Games</label>
      <select class="form-control" id="gameSelect" ng-model="joinData.joinName" required>
        <option ng-repeat="option in joinData.options" value="{{option.name}}" ng-disabled="option.number == 0">Game: {{option.name}} Need: {{option.number}}</option>
      </select>
    </fieldset>
    <button type="submit" class="btn btn-primary" ng-disabled="!joinForm.$valid" ng-click="joinGame()">Join</button>
  </form>

  <h3>Create New Game</h3>
  <form name="createForm" novalidate>
    <fieldset class="form-group">
      <label for="inputName">Game Name</label>
      <input ng-model="createData.createName" required type="text" class="form-control" id="inputName" placeholder="Enter name">
    </fieldset>
    <fieldset class="form-group">
      <label for="numPlayers">Number of Players</label>
      <input ng-model="createData.numberOfPlayers" required type="number" class="form-control" id="numPlayers" placeholder="2">
    </fieldset>
    <fieldset class="form-group">
      <label for="numTokens">Number of Tokens</label>
      <input ng-model="createData.numberOfTokens" required type="number" class="form-control" id="numTokens" placeholder="3">
    </fieldset>
    <fieldset class="form-group">
      <label for="mapSelect">Map</label>
      <select class="form-control" id="mapSelect" required ng-model="createData.map" ng-change="changeMapSelection(createData.map)">
        <option value="USA">USA</option>
        <option value="Ames">Ames</option>
      </select>
    </fieldset>
    <fieldset class="form-group">
      <label for="rangeSelect">Token Find Difficulty (Radius in miles)</label>
      <input type="number" class="form-control" required id="rangeSelect" ng-model="createData.precision">
    </fieldset>
    
    <button type="submit" class="btn btn-primary" ng-disabled="!createForm.$valid" ng-click="createGame()">Create</button>
  </form>
</div>